<a href="https://colab.research.google.com/github/sanikamal/python-atoz/blob/master/data-structure/List_Comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python List Comprehensions
basic format: `new_list = [transform sequence [filter] ] ` 
Â© Sani Kamal, 2019.

In [0]:
import random

**get values within a range**

In [2]:
under_10 = [x for x in range(10)]
print('under_10: ' + str(under_10))

under_10: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**get squared values**

In [3]:
squares = [x**2 for x in under_10]
print('squares: ' + str(squares))

squares: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**get odd numbers using mod**

In [4]:
odds =  [x for x in range(10) if x%2 == 1]
print('odds: ' + str(odds))

odds: [1, 3, 5, 7, 9]

**get multiples of 10**

In [5]:
ten_x = [x * 10 for x in range(10)]
print('ten_x: ' + str(ten_x))

ten_x: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

**get all numbers from a string**

In [6]:
s = 'I love 2 go t0 the store 7 times a w3ek.'
nums = [x for x in s if x.isnumeric()]
print('nums: ' + ''.join(nums))

nums: 2073

**get index of a list item**

In [7]:
names = ['Cosmo', 'Pedro', 'Anu', 'Ray']
idx = [k for k, v in enumerate(names) if v == 'Anu']
print('index = ' + str(idx[0]))

index = 2

**delete an item from a list**

In [8]:
letters = [x for x in 'ABCDEF']
random.shuffle(letters)
letrs = [a for a in letters if a != 'C']
print(letters, letrs)

['F', 'E', 'C', 'A', 'B', 'D'] ['F', 'E', 'A', 'B', 'D']

**if-else condition in a comprehension**  
must come before iteration.

In [9]:
nums = [5, 3, 10, 18, 6, 7]
new_list = [x if x%2 == 0 else 10*x for x in nums]
print('new list: ' + str(new_list))

new list: [50, 30, 10, 18, 6, 70]

**nested loop iteration for 2D list**  
b is the subsets, x is the values.

In [10]:
a = [[1,2],[3,4]]
new_list = [x for b in a for x in b]
print(new_list)

[1, 2, 3, 4]